*{
    box-sizing: border-box;
}

.nav .menu_wrap >li{
    text-decoration: none;
/* .nav .menu_wrap {
    position: absolute;
    top: -3000%;
    overflow-y: auto;
    opacity: 0.01;
    width: 100%;
    margin: 0;
    pointer-events: none;
    text-align: center;
    background-color: #ffffff;
    
    transition: opacity 0.3s ease;
 */
}


.nav {
    float: left;
    min-height: 550px;
    width: 223px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50px;
    background-color:white;
    
}
.main_nav>li{
    text-decoration: none;
}
.main_nav>li>a{
    text-decoration: none;
}
div {
    display: block;
}
.links>ul>li{
    display: inline-block;
    
}
#logo>h1>a{
    text-decoration: none;
}

/* #>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.gallery .asset.image {
    position: relative;
}
.gallery .asset {
    margin-right: 10px;
}
.gallery .asset {
    margin-right: 1px;
}
.gallery .asset {
    padding: 0;
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    width: 100%;
    object-fit: cover;
}



.images {
    float: left;
    height: 33.33%;
    padding: 5px;
    width: inherit;
  }
  
  /* Clearfix (clear floats) */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }