
.img-responsive{
    width: 86%;
    height: auto;
    align-content: flex-start;
    margin-left: 7%;
}
.navbar-custom {
    border: white;
     background-color: white !important; 
    }

@media only screen and (max-width: 600px) {
    .img-responsive{
        width: 86%;
        height: auto;
        align-content: flex-start;
        margin-left: 7%;
        margin-top: 50%;
    }
}
@media only screen and (min-width: 600px) and (max-width:1028px){
    .img-responsive{
        width: 86%;
        height: auto;
        align-content: flex-start;
        margin-left: 7%;
        margin-top: 25%;
    }
}